# Project
dist
.project
*.env
*.pem
*todo.md
*:Zone.Identifier

# Tools
node_modules
.gulp
.sass-cache
.serverless
.eslintcache

# System
.DS_Store
Desktop.ini
Thumbs.db
.Spotlight-V100
.Trashes

# Logs
logs
*.log*

# Other
._*
~$*
*~
