<li class="mb-3">
  <a href="{{url}}" class="d-flex">
    <figure class="image mr-4">
      <img src="images/albums/{{thumbnail}}" alt="" width="90px" height="90px" class="img-fluid">
    </figure>
    <div class="text">
      <h3 class="heading font-weight-light latest-episode">Episode {{episode}}: {{title}}</h3>
    </div>
  </a>
</li>
