<div class="podcast-source">
  <a href="{{href}}" target="_blank" rel="noopener">
    <img src="images/podcasts/{{src}}" width="65px" height="65px" alt="{{title}} podcatcher">
    <p>{{title}}</p>
  </a>
</div>
