<li class="mb-3">
  <a href="{{URL}}" class="d-flex">
    <figure class="image mr-4">
      <img src="images/albums/{{Image}}" alt="" class="img-fluid">
    </figure>
    <div class="text">
      <h3 class="heading font-weight-light">Episode {{Ep}}: {{Title}}</h3>
    </div>
  </a>
</li>
