/* Typography */
.navbar-brand {
  font-family: 'Goldman', cursive;
  font-size: 2rem;
}

/* Recent Episodes */
.podcast-entry .image {
  width: 300px;
  height: 300px;
}

#recent-episodes .player audio {
  width: 100%;
}
/* The Archives */

.credits img {
  width: 350px;
  height: 350px;
}

/* The Archives */
.table-container {
  display: block;
  margin: 2em auto;
}
.flex-table {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: 100%;
  border-left: solid 1px #d9d9d9;
  transition: 0.5s;
}
.flex-table:first-of-type {
  border-top: solid 1px #d9d9d9;
  border-left: solid 1px #d9d9d9;
}
.flex-table:first-of-type .flex-row {
  border-color: #d9d9d9;
}
.flex-table.row:nth-child(odd) .flex-row {
  background: #f4f2f1;
}
.flex-table:hover {
  background: #f5f5f5;
  transition: 500ms;
}
.flex-table:hover svg {
  fill: orangered;
}
.flex-row {
  display: block;
  width: 100%;
  padding: 0.5em 0.5em;
  border-right: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
}

#archives .flex-row .image {
  width: 175px;
  height: 175px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


@media all and (max-width:992px){
  ul.navbar-nav {
    align-items:flex-end;
    margin-right:.75rem;
  }

}
@media all and (max-width: 576px) {
  .flex-table {
    grid-template-columns: repeat(auto-fill, 100%);
    grid-template-rows: auto;
  }
  .flex-table .flex-row {
    border-bottom: 0;
  }
  .flex-table .flex-row:last-of-type {
    border-bottom: solid 1px #d9d9d9;
  }
  .flex-table:nth-of-type(2) {
    border-top: solid 1px #d9d9d9;
  }
}
@media all and (max-width: 400px) {
  .navbar-brand {
    font-size: 1.8rem;
    margin-right:0;
  }
}

svg {
  width: 30px;
}

/* Navigation */
html {
  scroll-behavior: smooth;
}
h1 {
  font-size: inherit;
}
.navbar {
  backdrop-filter: blur(10px);
  background-color: rgba(255, 0, 0, 0.9);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
}
#navbar h1 {
  margin-bottom:0;
}
.nav-item {
  color: #000 !important;
}
.nav-item.active .nav-link {
  color: white !important;
}

/* Hero */
#hero {
  background-position: 8% center;
}
.navbar img {
  width: 40px;
}
.site-blocks-cover .player {
  bottom: -60px;
}
.btn-primary {
  background-color: #eb1c0f;
  border-color: #df1b0e;
}

/* Player */
.native-player {
  width: 100%;
  min-width: 100%;
}

/* Podcasts */
.podcast-sources {
  padding-top: 20px;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 0.5em rgb(0 0 0 / 50%);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.podcast-source {
  width: 100px;
  margin: 5px;
}
.podcast-source img {
  width: 65px;
}

/* Footer */
.site-footer p

{
  color: #fff;
}
